    <a id="about-us"></a>
    <h3>O NAS:</h3>
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-5 px-0">
                <img class="img-fluid w-100" id="banner" src="static/alicja.jpg">
            </div>
            <div class="col-1 px-0"></div>
            <div class="col-5 px-0">
                <p>
                    Pierwszym smyczkiem w naszym zespole jest Alicja, dla której muzyka jest sposobem wyrażania siebie, a od 16 lat realizuje to przy pomocy skrzypiec.🎻 Jest studentką Uniwersytetu Muzycznego Fryderyka Chopina w Warszawie w klasie skrzypiec, gdzie ukończyła również studia licencjackie z oceną bardzo dobrą. Na swoim koncie ma liczne koncerty kameralne i orkiestrowe w Polsce oraz Europie.🌏 Uczestniczyła w wielu skrzypcowych kursach mistrzowskich, ponadto angażuje się w różnorodne projekty muzyczne, od klasycznych po rozrywkowe. W swojej aktywności muzycznej wspiera również inicjatywy non-profit, biorąc udział w koncertach charytatywnych (m.in. "Studenci Warszawy dla Ukrainy", “Świąteczny Koncert SGH”).
                    Każdy koncert to dla Alicji niezapomniane przeżycie i szansa na dalszy rozwój.✨            
                </p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-5 px-0">
                <img class="img-fluid w-100" id="banner" src="static/wojtek.jpg">
            </div>
            <div class="col-1 px-0"></div>
            <div class="col-5 px-0">
                <p>
                    Nasz duet dopełnia Wojtek, który jest muzykiem z pasji. 😊
                    Po 9 latach gry na skrzypcach  zakochał się w brzmieniu altówki, na której gra już od 7 lat. 🎻❤️Jako altowiolista ukończył z oceną bardzo dobrą Uniwersytet Muzyczny Fryderyka Chopina w Warszawie oraz stale rozwija swoje umiejętności na wielu międzynarodowych kursach muzycznych (m. in. w Łańcucie, Podkowie Leśnej). W 2020 roku został stypendystą prestiżowego programu Banku Talentów 2020. Brał udział w Polish Viola Symposium kształcąc się pod okiem prof. Ewy Guzowskiej, prof. Ireny Albrecht.
                    Wojtek wielokrotnie wspomina, że każda chwila spędzona przy instrumencie sprawia mu radość, którą chciałby się dzielić z innymi. 
                </p>
            </div>
        </div>
    </div>
