<!-- <div class="container-fluid">
    <div class="col-12">
        <img class="object-fit-fill border rounded" id="banner" src="static/background.jpg">
    </div>
</div> -->
<div class="container-fluid px-0">
    <div class="row mx-0">
        <div class="col-12 px-0">
        <img class="img-fluid w-100" id="banner" src="static/background.jpg">
        </div>
    </div>
</div>

<div class="container">
    {% include 'opis.html' %}
    <div class="text-center">
        <button type="button" class="btn btn-outline-primary">Contact Us</button>
    </div>
</div>