<div class="container-fluid px-0">
    <div class="row mx-0">
        <div class="col-12 px-0">
        <img class="img-fluid w-100" id="banner" src="static/background.jpg">
        </div>
    </div>
</div>

<div class="container">
    {% include 'opis.html' %}
    {% include 'about_us.html' %}

    <br><br>
    <div class="text-center">
        <a href="mailto:dwasmyczki@gmail.com?subject=Propozycja%20zlecenia%3A%20%3Cimi%C4%99%20i%20nazwisko%3E%20%3Crodzaj%20wydarzenia%3E&body=Imi%C4%99%20i%20nazwisko%3A%20...%0D%0ARodzaj%20wydarzenia%3A%20...%0D%0AMiejsce%20wydarzenia%3A%20...%0D%0AData%20wydarzenia%3A%20...%0D%0A">
            <button type="button" class="btn btn-dark">Skontaktuj się z nami</button>
        </a>
    </div>
</div>