<h2>Dwa Smyczki</h2>
<p class="lead">
    Odpowiednio dobrana muzyka potrafi uczynić każdą uroczystość najbardziej wyjątkową i niezapomnianą! 
KIM JESTEŚMY? ‍😊
Jesteśmy duetem smyczkowym w składzie skrzypce i altówka. Oboje ukończyliśmy Uniwersytet Muzyczny Fryderyka Chopina w Warszawie. Gramy wspólnie od lat, dzieląc się naszą pasją z innymi.
CO OFERUJEMY? 🎤
Oferujemy profesjonalną oprawę muzyczną uroczystości (zarówno świeckich jak i kościelnych), m.in. ślubów , chrzcin, pogrzebów, konferencji, kolacji. 
W repertuarze posiadamy wiele utworów muzyki klasycznej oraz rozrywkowej. Wykonywane utwory każdorazowo dopasowujemy do indywidualnych potrzeb odbiorców. Ponadto chętnie przygotujemy aranżację Państwa ulubionych utworów, by dobór muzyki na uroczystości był w pełni spersonalizowany.
Realizujemy oprawę muzyczną na terenie Warszawy i okolic oraz po uprzednim uzgodnieniu na terenie całej Polski.
🎻 Sprawimy, że Wasza uroczystość stanie się wyjątkowa. 🎻
PRZYKŁADOWY REPERTUAR: 🎼
• F. Schubert - Ave Maria
• R. Wagner - Marsz Weselny
• F. Mendelssohn - Marsz Weselny
• J. S. Bach - Aria na strunie G
• J. Pachelbel - Kanon D-dur
• C. Perri - Thousand Years
• E. Presley - Can't Help Falling in Love
• A. Bocelli - Time to Say Goodbye
• J. Groban - You Raise Me Up 
• i wiele innych
DODATKOWE INFORMACJE: 📌
W zależności od Państwa potrzeb możemy zaproponować rozszerzenie składu wykonawczego o dodatkowe instrumenty bądź głos.
Porozumiewamy się w 4 językach: polskim, angielskim, niemieckim i hiszpańskim.
Zapraszamy do kontaktu przez maila lub w wiadomości prywatnej. 
Mail: dwasmyczki@gmail.com
</p>