<br>
<p class="lead text-center"><i>
    Odpowiednio dobrana muzyka potrafi uczynić każdą uroczystość najbardziej wyjątkową i niezapomnianą! 
</i></p>
<h3>KIM JESTEŚMY? ‍😊</h3>
<p>
    Jesteśmy duetem smyczkowym w składzie skrzypce i altówka. Oboje ukończyliśmy Uniwersytet Muzyczny Fryderyka Chopina w Warszawie. Gramy wspólnie od lat, dzieląc się naszą pasją z innymi.
</p>
<h3>CO OFERUJEMY? 🎤</h3>
<p>
    Oferujemy profesjonalną oprawę muzyczną uroczystości (zarówno świeckich jak i kościelnych), m.in. ślubów , chrzcin, pogrzebów, konferencji, kolacji. 
W repertuarze posiadamy wiele utworów muzyki klasycznej oraz rozrywkowej. Wykonywane utwory każdorazowo dopasowujemy do indywidualnych potrzeb odbiorców. Ponadto chętnie przygotujemy aranżację Państwa ulubionych utworów, by dobór muzyki na uroczystości był w pełni spersonalizowany.
Realizujemy oprawę muzyczną na terenie Warszawy i okolic oraz po uprzednim uzgodnieniu na terenie całej Polski.
</p>
</p>
🎻 Sprawimy, że Wasza uroczystość stanie się wyjątkowa. 🎻
</p>

<h3>PRZYKŁADOWY REPERTUAR: 🎼</h3>
<li>F. Schubert - Ave Maria</li>
<li>R. Wagner - Marsz Weselny</li>
<li>J. S. Bach - Aria na strunie G</li>
<li>F. Mendelssohn - Marsz Weselny</li>
<li>J. Pachelbel - Kanon D-dur</li>
<li>C. Perri - Thousand Years</li>
<li>E. Presley - Can't Help Falling in Love</li>
<li>A. Bocelli - Time to Say Goodbye</li>
<li>J. Groban - You Raise Me Up</li>
<li><b>i wiele innych!</b></li>

</p>
<h3 id="about-us">DODATKOWE INFORMACJE: 📌</h3>
<p>
W zależności od Państwa potrzeb możemy zaproponować rozszerzenie składu wykonawczego o dodatkowe instrumenty bądź głos.
Porozumiewamy się w 4 językach: polskim, angielskim, niemieckim i hiszpańskim.
Zapraszamy do kontaktu przez maila lub w wiadomości prywatnej. 
Mail: dwasmyczki@gmail.com
</p>